*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Nunito",sans-serif;
  background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
  color: white;
}

.input{
  text-align: center;
  margin: 50px auto;
}

input[type="submit"]{
  padding: 15px 30px;
  background: rgb(0,0,0,0.6);
  border: none;
  border-radius: 1px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
  color: rgb(255,255,255,0.8);
}

.input input[type="text"]{
  width: 600px;
  height: 55px;
  padding: 5px 10px;
  background: rgb(0,0,0,0.6);
  border: none;
  border-radius: 1px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
  color: rgb(255,255,255,0.8);
}

.card{
  width: 50%;
  background: rgb(0,0,0,0.6);
  height: 40vh;
  margin: 50px auto;
  border-radius: 2px;
  color: rgb(255,255,255,0.8);
}


.close{
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-right: 20px;
}

.card h1{
  padding: 5px 0;
  text-align: center;
}

.card p{
  text-align: center;
  margin:40px 0;
  font-size:20px;
}
.logo{
  width: 10%;
  height: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}